<div ng-controller="TransactionCtrl" align="center">
    
    <form class="css-form">
        <div class="btn-group btn-group-md">
            <span style="color: #3333ff" ng-controller="NotificationCtrl">{{message}}</span>
            <br/>
            <div>Balance:</div>

            <div>{{currentAmount}} $</div>
            <div>
                <form name="transaction" ng-submit="create()">
                    <input name="price_field"
                           class="form-control"
                           placeholder="enter an amount greater than 1"
                           ng-model="amount"
                           required
                           ng-pattern="/^[1-9][0-9]*(\.[0-9]{1,2})?$/">

                    <p></p>

                    <div>
                        <div>
                            <button ng-disable="transaction.price_field.$invalid" id="deposit" class="btn btn-primary btn-xs" type="button" ng-click="deposit(amount)"
                                    >Deposit
                            </button>

                            <button ng-disabled="transaction.price_field.$invalid" id="withdraw" class="btn btn-primary btn-xs" type="button"
                                    ng-click="withdraw(amount)"
                                    >Withdraw
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>