<div ng-controller="TransactionCtrl" align="center">

    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="css-form" name="transaction" ng-submit="create()" novalidate>
                <span style="color: #3333ff" ng-controller="NotificationCtrl">{{message}}</span>
                <br/>

                <div>Balance:</div>
                <div>{{currentAmount}} $</div>
                <div class="form-group">

                    <input type="text"
                           name="price_field"
                           class="form-control"
                           ng-model="amount"
                           required
                           placeholder="amount greater than 1"
                           ng-pattern="/^[1-9][0-9]*(\.[0-9]{1,2})?$/">

                    <button type="button"
                            class="btn btn-primary btn-xs"
                            ng-disabled="transaction.price_field.$invalid"
                            ng-click="deposit(amount)">Deposit
                    </button>
                    <div class="divider"></div>
                    <button type="button"
                            class="btn btn-primary btn-xs"
                            ng-disabled="transaction.price_field.$invalid"
                            ng-click="withdraw(amount)">Withdraw
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>